.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 30px;
}

.App-header {
  text-align: right;
  background-color: #222;
  height: 55px;
  padding: 10px;
  color: white;
  width: 100%;
  z-index: 10;
}

.block-left {
  height: 100%;
  float: left;
  text-align: left;
  width: 75%;
}

.block-center {
  height: 100%;
  float: left;
  text-align: center;
  width: 25%;
}

.block-right {
  height: 100%;
  float: left;
  text-align: right;
  width: 25%;
}

.vertical-center {
  vertical-align: middle;
  margin: 0;
}

.App-intro {
  font-size: large;
}

.form {
  padding: 30px 20px;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

textarea {
  font-size: 16px;
  border-radius:10px;
  text-align: center;
  height: 400px;
  width: 100%;
}

.btn{
  display: inline-block;
  font-size: 20px;
  margin: 20px;
  border: solid 2px #000;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius:10px;
  padding: 10px;
  width: 150px;
}

.btn:hover{
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

select,input {
  border: 2px solid #000;
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}

.block {
  margin: 0 auto;
  height: 100%;
  width: 100%;
  padding-top: 15px;
  padding-left: 20px;
}

.section {
  flex: 1;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
}

.col {
  display: inline-block;
  padding: 10px 20px;
}

.barcode-container {
  margin-bottom: 100px;
  text-align: left;
}

.barcode-block{
  display: inline-block;
  width: 2in;
  height: 1in;
  margin-right: 25px;
  margin-left: 25px;
}

.info {
  padding: 2px;
  font-size: 11px;
  font-weight: bold;
}

.barcode-wrapper {
  position: relative;
}

.info-wrapper {
  line-height: 10px;
}

.info-wrapper, .barcode-wrapper{
  display: inline-block;
}

.barcode-img {
  padding-left: 15px;
}

.range {
  margin: 0 auto;
  width: 100%;
  padding: 40px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media print
{
    .no-print, .no-print *
    {
        display: none !important;
    }
}
